.star-rating {
    direction: rtl;
    display: inline-flex;
    font-size: 2.4rem;
}

    .star-rating input {
        display: none;
    }

    .star-rating label {
        cursor: pointer;
    }

    .star-rating i {
        color: #ccc;
        transition: color 0.25s, transform 0.2s;
    }

    .star-rating label:hover i,
    .star-rating label:hover ~ label i {
        color: #ffc107;
        transform: scale(1.25);
    }

    .star-rating input:checked ~ label i {
        color: #ffc107;
    }
