@using CarRentalDAL.Enums

@model CarRentalBLL.ViewModels.Car.EditCarVM

@{
    ViewData["Title"] = "Edit";
    SelectList options = new SelectList(Model.Categories, "Id", "Name");
}

<h1>Edit</h1>

<h4>EditCarVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
           
                <input asp-for="Id" type="hidden" class="form-control" />
                <div class="mb-3">
                    <label>Existing Images</label>
                    <div>
                        @if (Model.ExistingImages != null && Model.ExistingImages.Any())
                        {
                            foreach (var img in Model.ExistingImages)
                            {
                                <div style="display:inline-block; margin:10px;">
                                    <img src="@Url.Content("~/" + img.ImagePath)" width="150" height="120" />

                                    <div>
                                        <input type="checkbox"
                                               name="DeletedImageIds"
                                               value="@img.Id" />
                                        <label>Delete</label>
                                    </div>
                                </div>
                            }
                        }
                    </div>

                   
            
            </div>
                <div class="mb-3">
                    <label>Add New Images</label>
                    <input type="file" asp-for="CarImages" multiple class="form-control" />
                </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelYear" class="control-label"></label>
                <input asp-for="ModelYear" class="form-control" />
                <span asp-validation-for="ModelYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlateNumber" class="control-label"></label>
                <input asp-for="PlateNumber" class="form-control" />
                <span asp-validation-for="PlateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerDay" class="control-label"></label>
                <input asp-for="PricePerDay" class="form-control" />
                <span asp-validation-for="PricePerDay" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<CarStatus>()">
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>


            <div class="form-group">
                @* <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span> *@
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form form-control" asp-items="options">
                    <option value="">-- Select Category --</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>

            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
