@model CarRentalBLL.ViewModels.Review.CreateReviewVM
@section Styles {
    <link rel="stylesheet" href="~/css/add-review.css" />
}
@{
    ViewData["Title"] = "AddReview";
}

<h1>AddReview</h1>

<h4>CreateReviewVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddReview">
            <div asp-validation-summary="All" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label class="control-label">Rating</label>

                <div class="star-rating">
                    <input type="radio" id="star5" name="Score" value="5" />
                    <label for="star5"><i class="bi bi-star-fill"></i></label>

                    <input type="radio" id="star4" name="Score" value="4" />
                    <label for="star4"><i class="bi bi-star-fill"></i></label>

                    <input type="radio" id="star3" name="Score" value="3" />
                    <label for="star3"><i class="bi bi-star-fill"></i></label>

                    <input type="radio" id="star2" name="Score" value="2" />
                    <label for="star2"><i class="bi bi-star-fill"></i></label>

                    <input type="radio" id="star1" name="Score" value="1" />
                    <label for="star1"><i class="bi bi-star-fill"></i></label>
                </div>

                <span asp-validation-for="Score" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
                @* <label asp-for="CustomerId" class="control-label"></label> *@
                <input asp-for="CustomerId" class="form-control" hidden/>
                @* <span asp-validation-for="CustomerId" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group"> *@
                @* <label asp-for="CarId" class="control-label"></label> *@
                <input asp-for="CarId" class="form-control" hidden/>
                @* <span asp-validation-for="CarId" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
